@charset "utf-8";

p{
	margin-bottom:20px;
	line-height:1.5em;
}
.2{
	padding-left:250px;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	color:#666;
}
.container{
	max-width:1080px;
	margin:20px auto;
	background:#FFF;
	overflow:hidden;
	padding:10px;
}
.header, .middle{
	border:1px solid #dedede;
	padding:10px;
	margin:10px;
}
.middle img{
	max-width:100%;
	height:auto;
}
.middle a{
	font-weight:bold;
}
.footer{
	clear:both;
	border:1px solid #dedede;
	padding:10px;
	margin:10px;
}
@media screen and (max-width:1080px){
	.container{
		width:100%;
	}
	.left{
		width:25%;
		background:#fff000;
	}
	.middle{
		width:68%;
		float:right;
	}
	.right{
		clear:both;
		padding:1% 4%;
		width:auto;
		float:none;
	}
}
@media screen and (max-width: 780px){
	.header, .footer{
		text-align:center;
	}
	.left{
		width:auto;
		float:none;
	}
	.middle{
		width:auto;
		float:none;
	}
	.right{
		width:auto;
		float:none;
	}
}
